{%  extends "base.twig" %}
{% block title %}Payroll:Add{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <br>


    </br>

<div class="section">
    <div class="container">
    <div class="row">
        <div class="col s12 m2"></div>
        <div class="col s12 m8 ">
        <form class="col s12" action="/add_company" method="post">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <span class="card-title">EMPLOYEE</span>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" name="name" type="text" class="validate" required>
                    <label for="first_name">Company Name</label>
                </div>
            </div>
            <button class="waves-effect waves-light btn" type="submit" id="cmp_Name">ADD</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}
{% block script %}
{{ parent() }}
{% endblock %}