{% extends "dashboard.twig" %}
{% block title %}Payroll:Admin{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>Here Admin  can add Employee</h1>



{% endblock %}
{% block script %}
    {{ parent() }}
{% endblock %}