{% extends "base.twig" %}
{% block title %}Payroll:AdminLogin{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}
<h1>Here Admin can login</h1>

{% endblock %}
{% block script %}
    {{ parent() }}
{% endblock %}