{% extends "base.twig" %}
{% block title %}Payroll:Admin{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">payroll</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#Admin">ADMIN</a></li>
                    <li> <a href="/admin_login">LogOut</a> </li>
                </ul>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a class="active" href="/add_Employee">ADD EMPLOYEE</a></li>
                    <li class="tab"><a class="active" href="/Emp_Disp">Attendance</a></li>
                    <li class="tab"><a class="active" href="/salary_data">Salary Data</a></li>
                    <li class="tab"><a class="active" href="/salary_status">Salary Status</a></li>
                    <li class="tab"><a class="active" href="/info">Details</a></li>
                    <li class="tab"><a class="active" href="/update">Update</a></li>
                </ul>
            </div>
        </nav>

{% endblock %}
{% block script %}
    {{ parent() }}
{% endblock %}