{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %} {{ title }} {% endblock %}

{% block body %}
    {{ parent() }}

    <div class="hero-section">
        <div class="hero-section-text">
            <p style="font-size: 80px ">Payroll Management System</p>

        </div>
    </div>
{#    {% block footer %}#}
{#        <footer class="page-footer">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col l6 s12">#}
{#                        <h5 class="white-text">payroll</h5>#}
{#                        <p class="grey-text text-lighten-4">Payment made easy</p>#}
{#                    </div>#}
{#                    <div class="col l4 offset-l2 s12">#}
{#                        <h5 class="white-text">Links</h5>#}
{#                        <ul>#}
{#                            <li><a class="grey-text text-lighten-3" href="/loginbtn">Owner Login</a></li>#}
{#                            <li><a class="grey-text text-lighten-3" href="/admin_login">Admin Login</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="footer-copyright">#}
{#                <div class="container">#}
{#                    © 2019 Copyright akshaygr. All rights reserved.#}
{#                    #}{#                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>#}
{#                </div>#}
{#            </div>#}
{#        </footer>#}
{#    {% endblock %}#}

{% endblock %}