.hero-section {
    background: url("../Images/astro-astronomy-background-956999.jpg") 50% no-repeat;
    background-size: cover;
    height: 75vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-section .hero-section-text {
    color: #fe4403;
    text-decoration-skip: box-decoration;
    text-shadow: 6px 6px 6px #7a4e66;

}
